@import '../node_modules/mini.css/dist/mini-default.min.css';

.bordered {
    border-style: solid;
}

.qty-text {
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    vertical-align: middle;
}

.qty-text.centered {
    text-align: center;
}

.qty-btn {
    width: 36.95px;
}

.card {
    width: 120px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.card.category {
    background-color: lightblue;
}

.card.selected-category {
    background-color: lightgreen;
}

.card.drink {
    height: 60px;
    line-height: 60px;
    background-color: lightslategray;
}

.span p {
    line-height: 18px;
    display: inline-block;
    vertical-align: middle;
}

.form-group textarea {
    width: 100%
    /* max-width: 400px;  */
}

.centered {
    text-align: center;
}

/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
} */

/* input[type=number] {
    -moz-appearance:textfield; 
} */